[submodule "repos/xunit"]
	path = repos/xunit
	url = http://github.com/tabe/xunit.git
[submodule "repos/smathml"]
	path = repos/smathml
	url = http://github.com/tabe/smathml.git
[submodule "repos/sxml"]
	path = repos/sxml
	url = http://github.com/tabe/sxml.git
[submodule "repos/lcs"]
	path = repos/lcs
	url = http://github.com/tabe/lcs.git
[submodule "repos/surfage"]
	path = repos/surfage
	url = http://github.com/okuoku/surfage.git
[submodule "repos/xitomatl"]
	path = repos/xitomatl
	url = http://github.com/okuoku/xitomatl.git
[submodule "repos/dharmalab"]
	path = repos/dharmalab
	url = http://github.com/okuoku/dharmalab.git
[submodule "repos/mpl"]
	path = repos/mpl
	url = http://github.com/dharmatech/mpl.git
[submodule "repos/racket"]
	path = repos/racket
	url = http://github.com/plt/racket.git
[submodule "repos/yuni"]
	path = repos/yuni
	url = http://github.com/okuoku/yuni-core.git
[submodule "repos/mosh"]
	path = repos/mosh
	url = http://github.com/okuoku/mosh.git
[submodule "repos/industria"]
	path = repos/industria
	url = http://github.com/okuoku/industria.git
[submodule "repos/spells"]
	path = repos/spells
	url = http://github.com/rotty/spells.git
[submodule "repos/wak-common"]
	path = repos/wak-common
	url = git://gitorious.org/wak/wak-common.git
[submodule "repos/wak-fmt"]
	path = repos/wak-fmt
	url = git://gitorious.org/wak/wak-fmt.git
[submodule "repos/wak-foof-loop"]
	path = repos/wak-foof-loop
	url = git://gitorious.org/wak/wak-foof-loop.git
[submodule "repos/wak-syn-param"]
	path = repos/wak-syn-param
	url = git://gitorious.org/wak/wak-syn-param.git
[submodule "repos/wak-riastreams"]
	path = repos/wak-riastreams
	url = git://gitorious.org/wak/wak-riastreams.git
[submodule "repos/wak-trc-testing"]
	path = repos/wak-trc-testing
	url = git://gitorious.org/wak/wak-trc-testing.git
[submodule "repos/wak-ssax"]
	path = repos/wak-ssax
	url = git://gitorious.org/wak/wak-ssax.git
[submodule "repos/wak-sxml-tools"]
	path = repos/wak-sxml-tools
	url = git://gitorious.org/wak/wak-sxml-tools.git
